/*###################### CORE STYLING ######################*/
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, red, orange);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button:focus {
  outline: 0;
}

@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1;
  width: extend-to-zoom;
}

/*###################### PIANO INTERFACE ######################*/

.piano {
  display: flex;
  position: relative;
  touch-action: manipulation;
}

.white-key {
  width: 80px;
  height: 240px;
  background-color: #fff;
  margin-left: -8px;
  border: 4px solid #000;
  border-radius: 0 0 8px 8px;
  outline: none;
  cursor: pointer;
}

.white-key.active {
  background-color: #fffff0;
}

.black-key {
  position: absolute;
  width: 48px;
  height: 160px;
  background-image: linear-gradient(#000000, #000000);
  border: 4px solid #000;
  border-radius: 0 0 8px 8px;
  outline: none;
  cursor: pointer;
}

.black-key.active {
  background: #101010;
}

.shortcut-white {
  color: #000;
  font-size: 1.25rem;
  margin-top: 200px;
  visibility: hidden;
}

.shortcut-black {
  color: #fff;
  font-size: 1.25rem;
  margin-top: 120px;
  visibility: hidden;
}

.active {
  visibility: visible;
}

#show-shortcut-btn {
  margin-top: 30px;
  padding: 1rem 1rem;
  width: 320px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background: orangered;
  color: #fff;
  border: 1px solid orangered;
  cursor: pointer;
  visibility: visible;
}

#show-shortcut-btn:hover {
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

#hide-shortcut-btn {
  margin-top: -52px;
  padding: 1rem 1rem;
  width: 320px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background: orangered;
  color: #fff;
  border: 1px solid orangered;
  cursor: pointer;
  visibility: hidden;
}

#hide-shortcut-btn:hover {
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

#hide {
  width: 320px;
}

.Db4-key {
  left: 42px;
}

.Eb4-key {
  left: 114px;
}

.Gb4-key {
  left: 258px;
}

.Ab4-key {
  left: 330px;
}

.Bb4-key {
  left: 404px;
}

/*###################### MOBILE DEVICE QUERIES ######################*/

/*########## MOBILE PHONES ##########*/
@media only screen and (min-device-width: 361px) and (max-device-width: 480px) and (orientation: portrait) {
  .piano {
    margin-left: 7px;
    margin-top: 80px;
  }
  .white-key {
    width: 60px;
    height: 180px;
  }
  .black-key {
    width: 36px;
    height: 120px;
  }

  .Db4-key {
    left: 29px;
  }

  .Eb4-key {
    left: 81px;
  }

  .Gb4-key {
    left: 184px;
  }

  .Ab4-key {
    left: 237px;
  }

  .Bb4-key {
    left: 288px;
  }

  #show-shortcut-btn {
    visibility: hidden;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 823px) and (orientation: landscape) {
  .piano {
    margin-left: 7px;
    margin-top: 80px;
  }
  .white-key {
    width: 70px;
    height: 210px;
  }
  .black-key {
    width: 44px;
    height: 145px;
  }

  .Db4-key {
    left: 34px;
  }

  .Eb4-key {
    left: 97px;
  }

  .Gb4-key {
    left: 220px;
  }

  .Ab4-key {
    left: 282px;
  }

  .Bb4-key {
    left: 345px;
  }

  #show-shortcut-btn {
    visibility: hidden;
  }
}

/*########## IPHONE 5 & GALAXY S5 ##########*/

@media only screen and (max-device-width: 360px) and (orientation: portrait) {
  .piano {
    margin-left: 7px;
    margin-top: 80px;
  }

  .white-key {
    width: 50px;
    height: 150px;
  }

  .black-key {
    width: 32px;
    height: 100px;
  }

  .Db4-key {
    left: 20px;
  }

  .Eb4-key {
    left: 62px;
  }

  .Gb4-key {
    left: 146px;
  }

  .Ab4-key {
    left: 188px;
  }

  .Bb4-key {
    left: 230px;
  }
  #show-shortcut-btn {
    visibility: hidden;
  }
}

/*########## IPAD & IPAD PRO ##########*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .piano {
    margin-left: 10px;
    margin-top: 75px;
  }

  .white-key {
    width: 100px;
    height: 300px;
  }

  .black-key {
    width: 64px;
    height: 200px;
  }

  .Db4-key {
    left: 55px;
  }

  .Eb4-key {
    left: 146px;
  }

  .Gb4-key {
    left: 330px;
  }

  .Ab4-key {
    left: 424px;
  }

  .Bb4-key {
    left: 516px;
  }

  #show-shortcut-btn {
    visibility: hidden;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .piano {
    margin-left: 10px;
    margin-top: 125px;
  }

  .white-key {
    width: 120px;
    height: 360px;
  }

  .black-key {
    width: 72px;
    height: 260px;
  }

  .Db4-key {
    left: 72px;
  }

  .Eb4-key {
    left: 184px;
  }

  .Gb4-key {
    left: 406px;
  }

  .Ab4-key {
    left: 518px;
  }

  .Bb4-key {
    left: 630px;
  }

  #show-shortcut-btn {
    visibility: hidden;
  }
}

@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .piano {
    margin-left: 10px;
    margin-top: 75px;
  }

  .white-key {
    width: 120px;
    height: 360px;
  }

  .black-key {
    width: 72px;
    height: 260px;
  }

  .Db4-key {
    left: 72px;
  }

  .Eb4-key {
    left: 184px;
  }

  .Gb4-key {
    left: 406px;
  }

  .Ab4-key {
    left: 518px;
  }

  .Bb4-key {
    left: 630px;
  }

  #show-shortcut-btn {
    visibility: hidden;
  }
}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  .piano {
    margin-left: 10px;
    margin-top: 125px;
  }

  .white-key {
    width: 160px;
    height: 480px;
  }

  .black-key {
    width: 96px;
    height: 320px;
  }

  .Db4-key {
    left: 96px;
  }

  .Eb4-key {
    left: 250px;
  }

  .Gb4-key {
    left: 552px;
  }

  .Ab4-key {
    left: 704px;
  }

  .Bb4-key {
    left: 856px;
  }

  #show-shortcut-btn {
    visibility: hidden;
  }
}
